<ion-modal-view class="padding">
    <ion-header-bar class="bar bar-header blue-grey darken-2">
        <h1 class="title white-text">Editar datos del palto</h1>
        <button class="button button-clear button-primary white-text" ng-click="modal2.hide()">Listo</button>
    </ion-header-bar>
    <ion-content>
        
        <label class="item item-input">
            <input ng-model="platoEditado.nombre_plato" type="text" placeholder="Nombre">
        </label>
        <div class="posicionbotontabañadirplato">
            <button ng-click="editdelmodal();" class="button button-small button-block button-positive">
                <i class="icon ion-gear-a"></i> Añadir plato nuevo
            </button>
        </div>
    </ion-content>
</ion-modal-view>