<ion-modal-view class="padding">
    <ion-header-bar class="bar bar-header blue-grey darken-2">
        <h1 class="title white-text">Datos del plato</h1>
        <button class="button button-clear button-primary white-text" ng-click="modal1.hide()">Listo</button>
    </ion-header-bar>
    <div class="container" data-ng-controller="HomeCtrl">
        <br/><br/>
        <form name="upload" ng-submit="uploadFile()">
            <label class="item item-input">
                <input type="file" name="file" uploader-model="file">
            </label>
            <ion-list>
                <ion-item class="item-stable" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
                    <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>&nbsp; selecciona la Categoria del plato
                </ion-item>
                <ion-item class="item-accordion" ng-repeat="categoria in categorias" ng-show="isGroupShown(group)">
                    <ion-radio ng-model="platoNuevo.id_categoria" value="{{categoria.id}}">{{categoria.nombre}}</ion-radio>
                </ion-item>
            </ion-list>
            
                <input ng-model="platoNuevo.nombre_plato" type="text" placeholder="Nombre">
            
            
                <input ng-model="platoNuevo.precio" type="text" placeholder="Precio">
            
            
                <textarea ng-model="platoNuevo.caracteristica" placeholder="Caracteeristicas"></textarea>
            
            <div class="posicionbotontabañadirplato">
                <button type="submit"  class="button button-small button-block button-positive">
                    <i class="icon ion-gear-a"></i> Añadir plato nuevo
                </button>
            </div>
        </form>
    </div>
</ion-modal-view>
<!--<input ng-model="platoEditado.nombre_plato" type="text" placeholder="Nombre">
        
        <div class="posicionbotontabañadirplato">
            <button ng-click="editdelmodal();" class="button button-small button-block button-positive">
                <i class="icon ion-gear-a"></i> Añadir plato nuevo
            </button>
        </div>-->